/*Colors*/
/*Fonts*/
@font-face {
  font-family: "GoodDog";
  src: url("fonts/GoodDog.otf");
}
@font-face {
  font-family: "MuddyTractor";
  src: url("fonts/MuddyTractorDEMO-KCFonts.ttf");
}
html,
body {
  background-color: #ffde13;
  margin-bottom: 0;
  padding-bottom: 0;
  font-family: Verdana, sans-serif;
  height: 100%;
}
h1 {
  color: #ff9329;
  text-align: justify;
  text-align-last: center;
  /* for IE9 */
  -ms-text-align-last: center;
  text-transform: uppercase;
  font-family: "MuddyTractor", Verdana, Arial, Helvetica, sans-serif;
}
h2 {
  color: #ff9329;
  font-family: "MuddyTractor", Verdana, Arial, Helvetica, sans-serif;
  text-align: justify;
  text-transform: uppercase;
  text-align-last: center;
  /* for IE9 */
  -ms-text-align-last: center;
}
h3 {
  color: #99633f;
  font-family: "GoodDog", Verdana, Arial, Helvetica, sans-serif;
  text-align: justify;
  text-transform: uppercase;
}
h5 {
  color: #99633f;
  font-family: "MuddyTractor", Verdana, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -155px;
}
.push {
  height: 175px;
}
.container {
  height: 100%;
}
.navbar-default {
  background-color: #aacc36;
  border-color: #99633f;
}
.navbar-default .navbar-toggle {
  border-color: #99633f;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:active {
  background-color: #ff9329;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #99633f;
}
.navbar-default .navbar-collapse {
  border-color: #99633f;
}
.navbar-default .navbar-brand {
  color: #99633f;
  font-family: "MuddyTractor", Verdana, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}
.navbar-default .navbar-brand:hover {
  color: #ff4a1b;
}
.navbar-default .navbar-brand span {
  font-family: "GoodDog", Verdana, Arial, Helvetica, sans-serif;
  text-transform: none;
}
.navbar-default .navbar-nav li a {
  color: #99633f;
}
.navbar-default .navbar-nav li a:hover {
  color: #ff4a1b;
}
ul.navbar-nav li {
  font-family: "MuddyTractor", Verdana, Arial, Helvetica, sans-serif;
}
.well {
  background-color: #aacc36;
  border-color: #99633f;
}
.menu-item a {
  width: 100%;
  height: 100%;
  transisition: background-color 0.5s ease;
}
.menu-item a img {
  width: 100%;
  height: 250px;
  border-radius: 10px;
}
.menu-item a:hover {
  text-decoration: none;
}
.menu-item:hover {
  background-color: #ff9329;
}
p a {
  color: #ff9329;
}
p a:hover {
  color: #ff4a1b;
  text-decoration: none;
  text-shadow: 0.1em 0.1em #99633f;
}
p a:visited {
  color: #ff4a1b;
}
footer {
  text-align: center;
  background-color: #aacc36;
  padding: 20px 40px;
  border-top: solid thin #99633f;
  height: 155px;
  position: relative;
  margin: 0 auto;
  bottom: 0;
}
footer a {
  color: #99633f;
  font-family: "GoodDog", Verdana, Arial, Helvetica, sans-serif;
  font-size: 20px;
}
footer a:visited {
  color: #ff4a1b;
}
footer a:hover {
  color: #ff9329;
  text-decoration: none;
  text-shadow: 0.1em 0.1em #99633f;
}
footer .powered {
  text-align: center;
  font-size: 10px;
}
footer .powered a {
  color: #ffde13;
  font-size: 10px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}
footer .powered a:visited {
  color: #ffde13;
}
footer .copy {
  font-size: 10px;
  text-align: center;
}
footer .copy a {
  color: #ffde13;
  font-size: 10px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}
footer .copy a:visited {
  color: #ffde13;
}
.btn-primary {
  font-family: "MuddyTractor", Verdana, Arial, Helvetica, sans-serif;
  color: #ffde13;
  border-color: #ff9329;
  background-color: #ff9329;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  color: #99633f;
  border-color: #99633f;
  background-color: #ff9329;
}
.btn-default {
  font-family: "MuddyTractor", Verdana, Arial, Helvetica, sans-serif;
  background-color: #99633f;
  color: #aacc36;
  border-color: #aacc36;
}
