<div id="about-content">
    <h1>Nacho Business</h1>
    <h3>This is a taco-burrito conversation. Na-chos.</h3>

    <p>
        This is demo menu site using <a href="http://angularjs.org/" target="_blank">AngularJS</a>,
        <a href="http://getbootstrap.com" target="_blank">Bootsrap</a>, and <a href="http://lesscss.org/" target="_blank">LESS</a>.
        This is a prototype of an online menu system where you can easily browse from any device and make a purchase.
        The site is designed to take in a JSON list of menu items including name, price, image URLs, and menu item type.
        From the JSON list the site will generate an interactive menu of items with custom routing.
        This just some playing around is definitely not a full experience.
        I know the food looks amazing on here and I wish this was a real restaurant too. And yes, I do enjoy nachos.
    </p>
    <a href="./#/menu" class="btn btn-lg btn-primary">
        Menu
    </a>
</div>