    <div class="text-center" ng-controller="MenuCtrl">

        <div ng-repeat="category in categories|orderBy:index">
            <h2>{{category.name}}</h2>
            <div class="row">

                <div class="col-md-4 well col-sm-12 menu-item clearfix" ng-repeat="item in menuItems|filter:{category:category.id, isVisible: true}">
                    <a href="./#/item/{{item.id}}">
                    <img src="./img/{{item.imageUrl}}" class="img-responsive" ng-show="item.imageUrl.length > 0" />
                    <h3 class="col-xs-9 col-xs-9">{{item.name}}</h3>
                    <h3 class="col-xs-3 col-xs-3">{{item.price | currency:"$"}}</h3>
                    </a>
                </div>

            </div>
        </div>
    </div>
            <div class="push"></div>