@import "_base";
html, body{
  background-color: @background;
  margin-bottom: 0;
  padding-bottom: 0;
  font-family: Verdana, sans-serif;
  height: 100%;
}
h1{
  color: @header;
  text-align: justify;
  text-align-last:center;
  /* for IE9 */
  -ms-text-align-last:center;
  text-transform: uppercase;
  font-family: "MuddyTractor", Verdana, Arial, Helvetica, sans-serif;
}

h2{
  color: @header;
  font-family: "MuddyTractor", Verdana, Arial, Helvetica, sans-serif;
  text-align: justify;
  text-transform: uppercase;
  text-align-last:center;
  /* for IE9 */
  -ms-text-align-last:center;
}

h3{
  color: @darkheader;
  font-family: "GoodDog", Verdana, Arial, Helvetica, sans-serif;
  text-align: justify;
  text-transform: uppercase;
}
h5{
  color: @darkheader;
  font-family: "MuddyTractor", Verdana, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}
#wrap{
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -155px;
}
.push{
  height: 175px;
}

.container{
  height: 100%;
}
.navbar-default{
  background-color: @foreground;
  border-color: @darkheader;
  .navbar-toggle{
    border-color: @darkheader;
    &:hover, &:focus, &:active{
      background-color: @header;
    }
    .icon-bar{
      background-color: @darkheader;
    }
  }
  .navbar-collapse{
    border-color: @darkheader;
  }
  .navbar-brand{
    color: @darkheader;
    font-family: "MuddyTractor", Verdana, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    &:hover{
      color: @rojo;
    }
    span{
      font-family: "GoodDog", Verdana, Arial, Helvetica, sans-serif;
      text-transform: none;
    }
  }
  .navbar-nav li a{
    color: @darkheader;
    &:hover{
      color: @rojo;
    }
  }
}

ul.navbar-nav li{
  font-family: "MuddyTractor", Verdana, Arial, Helvetica, sans-serif;

}

.well{
  background-color: @foreground;
  border-color: @darkheader;
}

.menu-item{
  a {
    width: 100%;
    height: 100%;
    transisition: background-color 0.5s ease;
    img{
      width: 100%;
      height: 250px;
      border-radius: 10px;
    }
    &:hover{
      text-decoration: none;
    }
  }
  &:hover{
    background-color: @header;
  }
}

p{
  a{
    color: @header;
    &:hover{
      color: @rojo;
      text-decoration: none;
      text-shadow: 0.1em 0.1em @darkheader;
    }
    &:visited{
      color: @rojo;
    }
  }
}

footer{
  text-align: center;
  background-color: @foreground;
  padding: 20px 40px;
  border-top: solid thin @darkheader;
  height: 155px;
  position: relative;
  margin: 0 auto;
  bottom: 0;
  a{
    color: @darkheader;
    font-family: "GoodDog", Verdana, Arial, Helvetica, sans-serif;
    font-size: 20px;
    &:visited{
      color: @rojo;
    }
    &:hover{
      color: @header;
      text-decoration: none;
      text-shadow: 0.1em 0.1em @darkheader;
    }
  }
  .powered{
    text-align: center;
    font-size: 10px;
    a{
      color: @background;
      font-size: 10px;
      font-family: Verdana, Arial, Helvetica, sans-serif;
      &:visited{
        color: @background;
      }
    }
  }
  .copy{
    font-size: 10px;
    text-align: center;
    a{
      color: @background;
      font-size: 10px;
      font-family: Verdana, Arial, Helvetica, sans-serif;
      &:visited{
        color: @background;
      }
    }
  }
}

.btn-primary{
  font-family: "MuddyTractor", Verdana, Arial, Helvetica, sans-serif;
  color: @background;
  border-color: @header;
  background-color: @header;
  &:hover, &:active, &:focus{
    color: @darkheader;
    border-color: @darkheader;
    background-color: @header;
  }
}

.btn-default{
  font-family: "MuddyTractor", Verdana, Arial, Helvetica, sans-serif;
  background-color: @darkheader;
  color: @foreground;
  border-color: @foreground;
}