<!DOCTYPE html>
<html ng-app>
<head>
    <title>Top Menu</title>
    <link href="bootstrap/dist/css/bootstrap.min.css" type="text/css" rel="stylesheet" />

    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="js/lib/angular.min.js"></script>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">

        </div>
        <a class="navbar-brand" href="menu.html">Nacho Business</a>
    </nav>

    <div class="text-center" ng-ctrl="MenuCtrl">
        <h1>Nacho Business</h1>
        <h3>This is a taco/burrito conversation. Na-chos.</h3>
        <div class="row" ng-repeat="category in categories|orderBy:index">
            <h2>{{category.name}}</h2>
            <div class="row" ng-repeat="item in menuItems | filter:category:category.id">
                <div class="col-md-4 col-sm-12">
                    <img src="{{item.imageUrl}}">
                    <h3>{{item.name}}</h3>
                    <h6>{{item.price}}</h6>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>