@import "base";

h1{
  text-align: justify;
  text-transform: uppercase;
  font-family: "GoodDog", Verdana, Arial, Helvetica, sans-serif;

}

h2{
  text-align: justify;
  text-transform: uppercase;
}

h3{
  text-align: justify;
  text-transform: uppercase;
}

.menu-item{
  a {
      width: 100%;
      height: 100%;
      transisition: background-color 0.5s ease;
      img{
        width: 100%;
        height: 250px;
    }
    &:hover{
      text-decoration: none;
    }
  }
  &:hover{
    background-color: $hover;
  }
}